{% extends "::base.html.twig" %}

{% block title %}{{ 'layout.title'|trans }}{% endblock %}

{% block body %}
<div ng-controller="courseCtrl">

	<aside>
		<header>
			<h1>{{ 'course.title'|trans }}</h1>
			<p>{{'course.description'|trans}}:</p>
		</header>

		<ul>
			<li class="course clear__float" ng-repeat="data in list">
				<cite ng-bind="data"></cite>
				<button class="btn__load" ng-click="load(data.id)">{{'course.btn.load'|trans}}</button>
			</li>
		</ul>
	</aside>

  <section class="course">
		<header>
			<h2>{{ 'course.create.title'|trans }}</h2>
			<p>{{'course.create.description'|trans}}:</p>
			<button class="btn__confirm" ng-click="load(data.id)">{{'course.btn.create'|trans}}</button>
		</header>

  </section>

</div>
{% endblock %}