<div ng-controller="questionCtrl">

  <header>
  	<h1>{{question.name}}</h1>
  </header>
  <input class="jsCourseId" value="{{course}}" type="hidden">
  <form>
  	<fieldset>
      <div id="talkify" ng-hide="talkify"></div>
  		<textarea readonly class="jsQuestion">{{question.question}}</textarea>
  		<textarea ng-model="data.answer" class="answer"></textarea>

<input ng-model="movie" ng-init="movie='harry_potter'" />
<input type="hidden" ng-model="movie" value="harry_potter"/>
<input type="text" ng-model="year" value="2000"/>
<input type="text" placeholder="Membership No" ng-model="formData.membershipNo">
<input type="password" placeholder="Password" ng-model="formData.password">

      <button class="btn__load" ng-click="new()">{{'btn.skip'|trans}}</button>
      <button class="btn__save" ng-click="save(data)">{{'btn.confirm'|trans}}</button>
  	</fieldset>
  </form>

</div>
